:root {
    --color-yellow: yellow;
    --color-red:red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*helpers*/
.by {
  border: solid 1px var(--color-red);  
  
}
.flex{
  display: flex;
}
.flex-center{
  align-items: center;
}
.flex-column{
  flex-direction: column;
}
.text-center{
  text-align: center;
}
.cite{
  display: block;
}
body{
  padding: 25px 10px; /*Empurrou todos os lados da tag MAIN dentro da tag body, ficando com um espaço entre eles de 25px*/
  font-family: monospace;
}
#main{
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    border-radius: 5px;
    padding: 25px 15px; 
    background: linear-gradient(50deg, hsl(180, 75%, 88%), hsl(0, 75%, 88%), hsl(240,75%,88%));
}

#img-div{
  padding: 25px;
  border-color: hsl(hue, saturation, lightness);
  border-radius: 5px;

}
#img-caption{
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

#image{
   display: block; /* Imagem muito grande foi transfomada em bloco para que se pudesse adaptar.*/
   width: 100%;
   max-width: 800px;
   margin: auto;
   /*max-width: 100%;
   height: auto;*/
}

header{
  padding: 25px;
}

h1{
  font-size: 60px;

}
p{
  padding: 10pxpx;
  font-size: 30px;   
}
#tribute-info{
  padding: 25px;
}
h2{
  padding: 10px;
  font-size: 40px
}
ul, cite{
  padding: 10px;
  max-width: 800px;
  margin: auto;
}
li{
  padding: 10px;
  font-size: 20px;
  list-style-type: square;
}

